


.box1{
    background-color: #000CFF;
    width: 1440px;
    height: 115px;
}
.box1>p{
    padding-top: 40px;
    text-align: center;
    color: aliceblue;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 29px;
}
.img{
    width: 1440px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    background-color: #D9D9D9;
    padding-top: 30px;
    padding-bottom: 30px;
    
    
}
.img2{
    margin-left: 50px;
}
.text{
    color: #000000;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 31px;
line-height: 36px;
}
.money{
    color: #000CFF;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 31px;
line-height: 36px;
}
.btn1{
    border: 2px solid ;
    width: 200px;
    height: 40px;
    color: #000CFF;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 31px;
line-height: 36px;

}
.box3{
    text-align: center;
    padding-bottom: 20px;
}
h1{
    color: #000CFF;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 59px;
line-height: 69px;

}
.text2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 27px;
}
.btn2{
    width: 189px;
    height: 60px;
    color: #000CFF;
    background-color: aliceblue;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 29px;
line-height: 34px;
border: 2px solid #000CFF;
}
.btn3{
    width: 250px;
    height: 60px;
    border: none;
    margin-left: 20px;
    background-color: #000CFF;
    color: aliceblue;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 29px;
line-height: 34px;
}
.box4{
    background-color: #D9D9D9;
    width: 1440px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.network{
    display: flex;
    justify-content: center;
}
.text4{
    font-family: 'Source Code Pro';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
margin-left: 50px;
}
.text3{
    text-align: center;
font-family: 'Source Code Pro';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

}


